@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'inter', sans-serif;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
}

.kb-homepage{
    header{
        padding-top:20px ;
        border-bottom: 1px solid #e5e7eb;
        height: 70px;

        .header-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header-links {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .free-trial {
            background-color: #fd4539;
            padding: 5px 7px;
            border-radius: 6px;
            border: 2px solid #fd4539;
        }

        .free-trial a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            font-weight: 500;
        }

        .request-demo {
            padding: 5px 7px;
            border-radius: 6px;
            border: 2px solid #fd4539;
        }

        .request-demo:hover {
            background-color: #fd4539;
            border: 2px solid #fd4539;
            transition: all 0.8s;

            
        }

        .request-demo:hover a {
            color: white;
        }

        .request-demo a {
            text-decoration: none;
            color: #fd4539;
             font-size: 12px;
            font-weight: 400;
        }
    }
    
    .title-wrapper {
        background-color: #002b49;

        .title-container{
            margin-right: auto;
            margin-left: auto;
            max-width: 750px;
            padding: 100px 20px;
        }
    }

    .card-container{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
    // .container {
    //     max-width: 1280px;
    //     /* min-height: 100vh; */
    //     margin: 0 auto;
    //     padding: 2.5rem 1rem;
    //     flex-grow: 1;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center; 
    // }

    .main-logo {
        max-width: 100px; 
        height: auto;
        display: block;
        text-align: center; 
    }

    .main-title {
        font-size: 2rem; 
        font-weight: 800;
        color: #e6eaed;
        text-align: center;
        line-height: 1.2; 
    }

    .card-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem; 
        width: 100%;
        max-width: 72rem;
    }

    .card {
        background-color: #ffffff;
        border-radius: 0.75rem; 
        padding: 2rem; 
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid #e5e7eb;
        text-decoration: none;
    }

    .card:hover {
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
        transform: translateY(-0.5rem); 
    }

    .icon-circle {
        background-color: #e6eaed;
        color: #002b49;
        border-radius: 9999px;
        padding: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .icon-circle svg {
        width: 2.5rem;
        height: 2.5rem;
        stroke-width: 1.5;
    }

    .card-title {
        font-size: 1.5rem; 
        font-weight: 600; 
        color: #1f2937; 
        margin-bottom: 0.75rem; 
    }

    .card-description {
        color: #4b5563;
        font-size: 1rem; 
        line-height: 1.625; 
        margin-bottom: 1.5rem;
        flex-grow: 1; 
    }

    .card-link {
        color: #002b49;
        font-weight: 500;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.25rem; 
        transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
    }

    .card-link svg {
        width: 1rem;
        height: 1rem; 
    }

    .card-link:hover {
        color: #ff4438; 
        text-decoration: underline;
    }

    
    .footer {
        background-color: #1f2937;
        color: #ffffff;
        padding: 1.5rem 0; 
        margin-top: 2.5rem;
    }

    .footer-content {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1rem;
        text-align: center;
        color: #9ca3af; 
    }
}

@media (min-width: 768px) {
    .kb-homepage{
        .header-inner{
            .free-trial{
                padding: 7px 20px;
                
                a{
                    font-size: 14px;
                }
            }
            .request-demo{
                padding: 7px 20px;
                
                a{
                    font-size: 14px;
                }
            }
        }

        .main-logo{
            max-width: 150px;
        }
        
        .card-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 1024px) {
    .kb-homepage{
        .card-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

// guide styles
/* Utility classes */
.hidden {
    display: none;
}

/* Sidebar styles */
.sidebar {
    /* width: 220px; */
    width: 300px;
    background-color: #fff;
    padding: 0px 20px 20px;
    border-right: 1px solid #e2e8f0;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 20;
    display: flex; /* Added for flexbox layout */
    flex-direction: column; /* Added for vertical stacking */
}

/* Hide scrollbar for sidebar */
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-open {
    transform: translateX(0%);
}

.sidebar .breadcrumb {
    font-size: 12px;
    margin-bottom: 20px;
}

.sidebar .breadcrumb .breadcrumb-link a {
    text-decoration: none;
    color: #4d6b80;
}

.sidebar .breadcrumb .breadcrumb-link a:hover {
    text-decoration: underline;
}

.sidebar .breadcrumb .breadcrumb-current {
    color: #002b49;
    font-weight: bold;
}

.sidebar h2 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #002b49;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    flex-grow: 1; /* Allows the ul to take up available space, pushing version-info down */

}

.sidebar ul li {
    margin-bottom: 6px;
}


.sidebar ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 14px;
    border-radius: 6px;
    color: #374151;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none;
    font-size: 13px;
}

.sidebar ul li a:hover {
    background-color: #e6eaed;
    color: #002b49;
}

.sidebar ul li a.active {
    background-color: #ccd5db;
    color: #002b49;
    font-weight: 600;
}

.sidebar ul li a span {
    width: 90%;
}

/* Styling for nested sidebar items */
.sidebar ul ul {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 0; /* Hidden by default */
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.sidebar ul ul.expanded {
    max-height: 500px; 
    transition: max-height 0.3s ease-in;
}

.sidebar ul ul li a {
    font-size: 0.85rem;
    padding: 5px 10px;
}

/* Style for the toggle icon */
.sidebar ul li a .toggle-icon {
    display: inline-block;
    margin-left: 8px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}

/* Rotate icon when nested list is expanded */
.sidebar ul li .nested-list.expanded+.toggle-icon,
.sidebar ul li a .toggle-icon.expanded {
    transform: rotate(180deg);
}

.sidebar .version-info {
    padding: 10px 14px 0px;
    font-size: 12px;
    color: #33556d;
    /* border-top: 1px solid #e2e8f0; */
    text-align: left;
    margin-top: auto; /* Pushes the element to the bottom */
}

/* Mobile sidebar toggle button */
.close-sidebar {
    display: flex;
    justify-content: end;
    padding: 6px;
    background-color: white;
    border: none;
}

.open-sidebar {
    display: block; /* block by default for mobile */
    position: fixed;
    top: 12px;
    left: 12px;
    z-index: 30;
    padding: 6px;
    background-color: #002b49;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: none;
    cursor: pointer;
}

.open-sidebar svg {
    height: 20px;
    width: 20px;
}

/* Main content area */
.main-content {
    flex-grow: 1;
    padding: 60px 24px;
    overflow-y: auto;
    margin-left: 0;
    max-height: 100vh;
}

.main-content h1 {
    font-size: 2rem; 
    font-weight: 800; 
    color: #002b49;
    margin-bottom: 12px; 
}

.main-content .meta {
    font-size: 0.8rem; 
    color: #6b7280; 
    margin-bottom: 24px; 
}

.intro-box { 
    background-color: #e6eaed; 
    border-left: 4px solid #002b49;
    padding: 20px; 
    border-radius: 8px; 
    margin-bottom: 24px; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
}

.intro-box p {
    color: #1e40af; 
    font-size: 1rem; 
}

/* Headings */
.main-content h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #33556d;
    margin-bottom: 16px;
}

.main-content h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #4d6b80;
    margin-bottom: 10px;
}

.main-content h4 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #668092;
    margin-bottom: 6px;
}

.main-content h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #8095a4;
    margin-bottom: 6px;
}

.main-content p {
    color: #5c5c5c;
    margin-bottom: 12px;
    // max-width: 700px;
    max-width: 800px;
    font-size: 0.95rem;
    line-height: 1.6;
}

/* Code blocks and info boxes */
.code-block {
    background-color: #f3f4f6;
    padding: 14px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 0.85rem;
    color: #2d3748;
    margin-bottom: 20px;
    // max-width: 700px;
    max-width: 800px;
}

.code-inline {
    background-color: #e5e7eb;
    padding: 1px 6px;
    border-radius: 4px;
}

/* Styling for the <pre> tag within .code-block for JSON */
.code-block pre {
    background-color: #00223a;
    padding: 15px;
    border-radius: 6px;
    margin-top: 10px;
    overflow-x: auto;
    font-size: 0.85rem;
    color: #abb2bf;
    line-height: 1.5;
}

/* Basic JSON syntax highlighting simulation */
.code-block pre .token.string {
    color: #98c379;
}

.code-block pre .token.number {
    color: #d19a66;
}

.code-block pre .token.boolean {
    color: #56b6c2;
}

.code-block pre .token.property {
    color: #e06c75;
}

.code-block pre .token.punctuation {
    color: #abb2bf;
}

/* Ensure code inside the first child of .code-block (often for paths/endpoints) wraps */
.code-block>:first-child code {
    white-space: normal;
    overflow-wrap: anywhere;
}

/* Lists */
.main-content ul,
.main-content ol {
    list-style-position: outside;
    margin-left: 20px;
    color: #374151;
    margin-bottom: 16px;
    // max-width: 700px;
    max-width: 800px;
    font-size: 0.95rem;
    line-height: 1.8;
}

.main-content ul li,
.main-content ol li {
    margin-bottom: 8px;
}

/* .main-content ol {
    list-style-type: decimal;
} */

.main-content ul {
    list-style-type: disc;
}

.main-content ul li strong {
    color: #4d6b80;
}

/* Navigation buttons */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    // max-width: 700px;
    max-width: 800px;
    margin-top: 24px;
}

.nav-buttons a {
    color: #4d6b80;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-buttons a:hover {
    text-decoration: underline;
}

.nav-buttons .next-link {
    justify-content: flex-end;
}

.nav-buttons svg {
    height: 18px;
    width: 18px;
}

/* Image container */
.image-container {
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}   

/* Feedback section */
.feedback {
    display: none;
    margin-top: 24px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    align-items: center;
    gap: 12px;
    // max-width: 700px;
    max-width: 800px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.feedback span {
    color: #4b5563;
    font-size: 0.9rem;
}

.feedback button {
    background-color: #f3f4f6;
    color: #1d4ed8;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    font-size: 0.9rem;
}

.feedback button:hover {
    background-color: #dbeafe;
    color: #1d4ed8;
}

/* Tables */
.main-content table {
    width: 100%;
    text-align: left;
    table-layout: auto;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.main-content table thead tr {
    background-color: #e5e7eb;
}

.main-content table th,
.main-content table td {
    padding: 6px;
}

.main-content table tbody tr td {
    border-top: 1px solid #d1d5db;
}

.link{
    color: #ff4438;
    text-decoration: none;
    font-weight: 500;
}

.link:hover {
    text-decoration: underline;
}

.logo-container img{
    height: 25px;
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .nav-buttons a {
        font-size: 0.9rem;
    }

    .image-container {
        // width: 700px;
        width: 800px;
    }

    .image-container img {
        // max-width: 700px;
        max-width: 800px;
    }
}

@media (min-width: 1024px) {
    .sidebar {
        padding: 20px;
        transform: translateX(0%);
        width: 270px;
    }

    .open-sidebar {
        display: none;
    }

    .close-sidebar {
        display: none;
    }

    .main-content {
        margin-left: 300px;
        padding: 24px;
    }

}